/* Styles for the slideshow container */
.carosoul {
    position: relative;
    overflow: hidden;
	z-index: 1;
}

/* Styles for the slideshow images */
.mySlides {
    display: none;
	position: relative; 
}

.slide-content {
    position: relative; /* Add this line */
}

.text {
	color: #f2f2f2;
	font-size: 6vw;
	padding: 0 10%;
	bottom: 10%;
	width: 25%;
	position: absolute;
	font-family: 'Teko', sans-serif;
	font-weight: 400;
	text-align: justify;
	text-transform: uppercase;
	display: wrap;
}

.slick-slide {
    width: 100%;
    height: auto;
    transition: opacity 1s; /* Cross-fade transition time */
}

/* Navigation dots */
.dot {
    height: 10px;
    width: 10px;
    margin: 0 8px;
    background-color: #f2f2f2;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.5s;
}

.active {
    background-color: #333;
}

.call_us_1 {
	background-color: #465365;
	font-size: 5vw;
	text-transform: uppercase;
	color: white;
	opacity: 0.95;
	font-family: 'Teko', sans-serif;
	text-align: center;
	margin: -7% 10% 0 10%;
	font-weight: 100;
}

.welcome_to_text {
	font-size: 3vw;
	text-align: center;
	position: relative;
	opacity: 0.9;
	font-weight: lighter;
	margin: 10% 0 5% 0;
}

.under_welcome_to_text {
    color: #333333;
    letter-spacing: 6px;
    position: relative;
}

.under_welcome_to_text:before {
    content: "";
    background-color: #b3c875;
    position: absolute;
    width: 500px;
    height: 80px;
    left: 50%;
    margin-left: -255px;
    top: 30%;
    z-index: -1;
}

.introduction {
	font-family: "Notica", sans-serif;
	line-height: 1.8;
	font-weight: 200;
	flex-flow: column;
	background: url("back&logo/blueprint.png") no-repeat bottom right;
	background-size: auto auto;
	text-align: center;
	padding-bottom: 100px;
}

.intro_text {
	padding: 0 30%;
	margin-top: -3%;
}

.review_under_intro {
	padding: 0 30%;
	font-size: 80%;
}

.middle_section {
	background: url("Back&logo/hotel.jpg") no-repeat;
	background-size: auto 110%;
	color: white;
}

.move_middle_sec {
	display: flex;
	transform: translate(0px, -70px);
	flex-direction: row;
}

.middle_section h2 {
	font-size: 40px;
	text-align: center;
}

.middle_section p {
	font-size: 20px; /* Adjust font size */
    margin-bottom: 20px;
	line-height: 1.8;
}

.middle_section a { 
	display: inline-block;
    background: #f2f2f2; /* Button background color */
    color: #1a2534; /* Button text color */
    padding: 15px 30px;
    text-decoration: none;
    font-weight: 500;
    border-radius: 5px;
    font-size: 18px; /* Button font size */
    transition: background 0.3s;
}

.tdr_story_containter_1 {
	width: 50%;
}

.tdr_story_containter_2 {
	width: 50%;
	transform: translate(0px, 130px);
}

.middle_section_pictures_1 {
	height: 400px;
	max-width: 100%;
	object-fit: cover;
	float: right;
}

.middle_section_pictures_2 {
	height: 400px;
	max-width: 100%;
	object-fit: cover;
	float: left;
}

.our_tdr_story {
	position: relative;
	background-color: #465365;
	text-align: start;
	max-width: 50%;
	margin-left: 20%;
	padding: 100px 50px;
	opacity: 90%;
	float: right;
}

.tdr_story_contact_section {
	position: relative;
	background-color: #2e3d52;
	text-align: start;
	max-width: 50%;
	margin-right: 50%;
	padding: 100px 50px;
	opacity: 90%;
	float: left;
}

.under_main_section {
	padding: 6% 10% 0 10%;
	font-family: "Noticia Text",serif;
}

.install_heading {
	font-size: 85px;
	font-family: "Teko",sans-serif;
	font-weight: 300;
	width: 35%;
}

.review_pics_install {
	display: flex;
	flex: row;
	font-family: "Noticia Text",serif;
}

.install_with_pics {
	width: 350%;
}

.service_heading {
	font-size: 45px;
	font-weight: 300;
}

.service_desc {
	font-size: 25px;
	padding-bottom: 5%;
}

.res_pic {
	width: 45%;
}

.com_pic {
	width: 65%;
}

.indus_pic {
	width: 35%;
}

.scroll_and_facebook {
	padding-top: 10%;
}

.scroll_container {
	width: 60%;
	height: 30vh;
	display: flex;
	flex-flow: column;
	background-color: #51aebd;
	color: white;
	margin-bottom: 50px;
}

.scroll_container h2 { 
	text-align: center;
}

.scroll_text { 
	text-align: start;
	padding: 0 10%;
}

.fb-page {
	padding-top: 10%;
}

.gallery {
    display: flex;
	flex-direction: row;
    flex-wrap: no-wrap;
	justify-content: center;
}

.image-container {
    width: 300px;
	height: 300px;
	margin: 5px;
}

.image-container img {
	width: 100%; 
	height: 100%;
	object-fit: cover;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.9);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
}

.modal img {
    display: block;
    margin: 0 auto;
    max-width: 90%;
    max-height: 90%;
}

.view-button {
    display: block;
    color: #333333;
	background-color: #ffffff;
    text-align: center;
    padding: 30px 20px;
    text-decoration: none;
    margin: 10px auto;
    border-radius: 5px;
	font-family: "Roboto Mono",sans-serif;
	text-transform: uppercase;
}

.view-button:hover { 
	background-color: #ccc4a9;
}

@media (min-width: 1800px) {
	.mySlides {
		width: 100%;
		max-height: 700px;
		object-fit: cover;
		object-position: 0% 50%;
	}
}

@media (min-width: 1201px) {

}

/* Media queries for responsiveness */
@media (max-width: 1000px) {
	.introduction {
		background: none;
	}
	
	.intro_text {
		padding: 0 15%;
	}
}

@media (max-width: 800px) {
	.middle_section_pictures_1 {
		display: none;
	}
	
	.middle_section_pictures_2 {
		display: none;
	}
	
	.text {
		font-size: 10vw;
	}
}

@media (max-width: 750px) {
	.max-body-width {
		max-width: 750px;
	}
	
	.scroll_and_facebook {
		display: none;
	}
	
	.under_welcome_to_text:before {
		display: none;
	}
	
}

@media (max-width: 500px) {
	.middle_section {
		background: none;
	}
	
	.move_middle_sec {
		flex-direction: column;
	}
	
	.tdr_story_containter_1 {
		width: 100%;
	}

	.tdr_story_containter_2 {
		width: 100%;
		transform: translate(0px, 50px);
	}

	.our_tdr_story {
		position: relative;
		background-color: #465365;
		text-align: start;
		max-width: 100%;
		margin-left: 0;
		padding: 100px 50px;
		opacity: 90%;
		float: right;
	}

	.tdr_story_contact_section {
		position: relative;
		background-color: #2e3d52;
		text-align: start;
		max-width: 100%;
		margin-right: 0;
		padding: 100px 50px;
		opacity: 90%;
		float: left;
	}
	
	.install_heading {
		width: 85%;
	}
	
	.res_pic {
		width: 60%;
	}
	
	.com_pic {
		width: 75%;
	}
	
	.indus_pic { 
		width: 60%;
	}
	
}

@media (max-width: 375px) {
	.mySlides {
		max-width: 375px;
	}
	
	.max-body-width {
		max-width: 375px; 
	}
	
	.middle_section {
		background: none;
	}
	
	.move_middle_sec {
		flex-direction: column;
	}

}